<div class="align-content-start" style="margin-bottom:2rem;">
    {{ $leaders := (shuffle (where .Site.Data.team.team "leads" "intersect" (slice .project)))}}
    {{ $team := (shuffle (where .Site.Data.team.team "participates" "intersect" (slice .project)))}}
    {{$pages := .Site.Pages.ByPublishDate.Reverse}}
    <h4>{{ i18n "Staff" }}</h4>
    {{ range $leaders}}
    {{ $thispage := first 1 (where $pages ".Params.name" .name) }}
    {{ range $thispage }}<a href="{{ .RelPermalink }}" class="author">{{ end }}
        <div style="display:flex;">
            <span class="author-img" style="margin:auto;">
                <img style="width:50px;height:50px" src="{{ .image }}" alt="" />
            </span>
            <span style="margin:auto; margin-left:1rem">{{ .name }}</span>
            <span style="margin:auto; margin-left:1rem" class="tag">Lead</span>
        </div>
    </a>
    {{ end }}
    {{ range $team }}
    {{ $thispage := first 1 (where $pages ".Params.name" .name) }}
    {{ range $thispage }}
    <a href="{{ .RelPermalink }}" class="author">
        {{ end }}
        <div style="display:flex;">
            <span class="author-img" style="margin:auto;">
                <img style="width:50px;height:50px" src="{{ .image }}" alt="" />
            </span>
            <span style="margin:auto; margin-left:1rem">{{ .name }}</span>
        </div>
    </a>
    {{ end }}
</div>