{{ define "main" }}
    <section class="section section-generic">
      <div class="container">
        <!-- Header text -->
        <div class="row">
          <div class="col-md-8 software-content">
            <h1>{{ .Title }}</h1>
            {{ $t := time.AsTime "2024-11-06T14:00:00" }}
                {{ if ge $t.UTC now.UTC }}
                <div class="alert alert-info" role="alert">
                  <p style="margin-bottom:1rem;">
                    Don't miss our upcoming community call in Portuguese
                    <a href="/commcalls/translation-portuguese/">"A comunidade R fala português"</a>
                    on Wedneday, 6 November 2024 13:00 UTC!
                    More information on the <a href="/commcalls/translation-portuguese/">event page</a>.
                  <p>
                </div>
                {{ end }}
            {{ $t := time.AsTime "2024-11-18T13:00:00" }}
                {{ if ge $t.UTC now.UTC }}
                <div class="alert alert-info" role="alert">
                  <p style="margin-bottom:1rem;">
                    Don't miss the 
                    <a href="https://ropensci.org/events/latinr-2024/">"rOpenSci traslaton at LatinR"</a>
                    on Monday, 18 November 2024 13:00 UTC!
                    More information on the <a href="https://ropensci.org/events/latinr-2024/">event page</a>.
                  <p>
                </div>
                {{ end }}
            {{ .Content }}
          </div>
        </div>

        <h2 class="title mt-5">Resources</h2>
        {{ partial "resources/resources-cards" (dict "resources" .Site.Data.resources.multilingual ) }}
        </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row about-block">
        <div class="col-md-3 text-md-right">
            <h4 class="about-block__title" id="translators">
              Translators
            </h4>
          </div>
        </div>
        {{ $translators := (shuffle .Site.Data.team.translators) }}
        {{ partial "whole-page-fragments/team/team-section" (dict "team" $translators)  }}
      </div>
    </section>
{{ partial "whole-page-fragments/volunteer"  (dict "divider" "rl" "Site" .Site ) }}
{{ partial "whole-page-fragments/newsletter"  (dict "divider" "lr" ) }}
{{ partial "whole-page-fragments/brands"  (dict "Site" .Site "divider" "rl" ) }}
{{ end }}
