{{ define "main" }}
    <section class="blog-post">
      <div class="container">
        <!-- Header text -->
        <div class="row">
          <div class="col-md-8 software-content content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
          </div>
              <div class="col-md-3 offset-md-1">
                <aside>
                  {{ range .Site.Data.resources.runiverse }}
                  <a href="{{ .url }}" class="arrow-card">{{ .title }}</a>
                  {{ end }}
                </aside>
              </div>

      </div>
      
            {{ $pages := (where .Site.Pages.ByPublishDate.Reverse ".Params.tags" "intersect" (slice "r-universe")) }}
            {{ if ge (len $pages) 1 }}
     <div class="author-blog">
        <h2 class="title mt-5 mb-4">Articles about r-universe</h2>
        {{ range $pages }}
{{ .Render "post-short-summary-author" }}
{{ end }}
{{ end }}
</div>
      </div>
    </section>
{{ partial "whole-page-fragments/volunteer"  (dict "divider" "rl" ) }}
{{ partial "whole-page-fragments/brands"  (dict "Site" .Site "divider" "lr" ) }}
{{ end }}
