baseurl = "https://ropensci.org/"
# languageCode = "en-us"
title = "rOpenSci - open tools for open science"
theme = "ropensci"

DefaultContentLanguage = "en"
[languages]
  [languages.en]
    title = "rOpenSci - open tools for open science"
    languageName = "English"
    weight = 2
  [languages.es]
    title = "rOpenSci - open tools for open science"
    languageName = "Español"
    weight = 2
  [languages.fr]
    title = "rOpenSci - open tools for open science"
    languageName = "Français"
    weight = 3


googleAnalytics = "UA-462421-6"
disqusShortname = ""
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "(^|/)renv$", "renv\\.lock$", "_cache$", "index\\.html"]
footnotereturnlinkcontents = "↩"
buildFuture = true
preserveTaxonomyNames = true
pygmentsUseClasses=true
enableEmoji=true

paginate = 5
paginatePath = "page"
rssLimit = 20

[permalinks]
    blog = "/blog/:year/:month/:day/:slug/"
    technotes = "/technotes/:year/:month/:day/:slug/"

[params]
    title = "rOpenSci"
    description = "Open Tools and R Packages for Open Science"
    footer = "&copy; The rOpenSci Project"
    rbloggers = ["blog", "technotes", "commcalls", "careers"]
    search = ["blog", "technotes", "commcalls", "events", "author"]
    projects = ["r-universe", "software-review", "stat-software-review", "champions", "multilingual-publishing"]    
    blogs = ["blog", "technotes"]
    events = ["events", "commcalls"]
    githubsource = "https://github.com/ropensci/roweb3/tree/HEAD/content/"
    registry = "https://ropensci.github.io/roregistry/registry.json"
    citations = "https://ropensci-org.github.io/ropensci_citations/citations_all_parts_clean.json"

 
[taxonomies]
  tag = "tags"
  author = "author"
  
[outputs]
  home = ["HTML", "RSS", "JSON"]
  section = ["HTML", "RSS", "JSON"]
  taxonomy = ["HTML", "RSS", "JSON"]
  taxonomyTerm = ["HTML", "RSS", "JSON"]

[outputFormats.Calendar]
	protocol = "https://"

[privacy]
  [privacy.twitter]
    disable = false
    enableDNT = true
    simple = false
  [privacy.instagram]
    disable = false
    simple = true
  [privacy.youtube]
    disable = false
    privacyEnhanced = true
  [privacy.googleAnalytics]
    anonymizeIP = true
    disable = false
    respectDoNotTrack = true
    useSessionStorage = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      autoHeadingID = true
      autoHeadingIDType = 'github'
      [markup.goldmark.parser.attribute]
        block = true
        title = true

[caches]
  [caches.getjson]
    maxAge = "300s"
