[build.environment]
  TZ = "America/Los_Angeles"
  
[build]
  publish = "public"
  command =  "hugo --minify"

[context.production.environment]
  HUGO_VERSION = "0.89.0"
  command = "hugo --buildFuture -b $DEPLOY_PRIME_URL"
  
[context.deploy-preview]
  command = "hugo --buildFuture -b $DEPLOY_PRIME_URL"
  environment = { HUGO_VERSION = "0.89.0" }

[context.branch-deploy]
  command = "hugo --buildFuture -b $DEPLOY_PRIME_URL"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
  
[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/fonts/*"
    [headers.values]
    Access-Control-Allow-Origin = "https://docs.ropensci.org"
    Vary = "Origin"

[[headers]]
  for = "/r-universe/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
    Vary = "Origin"
