{{ define "main" }}
 <section class="section section-generic">
      <div class="container">
        <!-- Header text -->
        <div class="row">
          <div class="col-md-8">
            <h1>{{ .Title | markdownify }}</h1>
            <p class="subtitle">
              {{ .Content }}
            </p>
          </div>
        </div>

        <div class="row case-cards mt-5">
          {{ range (first 3 (shuffle (where .Pages ".Params.image" "!=" nil))) }}
          <div class="col-md-4">
            <div class="case-card">
              {{ $img := .Resources.GetMatch .Params.image }}
              {{ with $img }}
              {{ $resized := .Fill "352x175" }}
              <img src="{{ $resized.RelPermalink }}" alt="" />
              {{ end }}
              <div class="case-card-body">
                <div class="d-flex flex-wrap align-items-center">
                  <a lang="{{ .Params.language }}" href="{{ .RelPermalink }}" class="case-title mr-2">{{ .Title }}</a>
                </div>
                {{ with .Params.resource }}
                <p class="mt-2 case-text">
               {{ i18n "Featuring"}} {{ . | markdownify }}.
                </p>
                 {{ end }}
                <p class="mt-2 case-text">
               {{ i18n "Reported-on"}} {{ .Date | dateFormat ":date_medium" }}.
                </p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        
        <div class="row case-cards mt-5">
      <table id="usecases" class="display" width="100%">
        <thead>
          <tr>
    <th>{{ i18n "Title"}}</th>
    <th>{{ i18n "Resource"}}</th>
    <th>{{ i18n "Date"}}</th>
    <th>{{ i18n "Reporter"}}</th>
    <th>{{ i18n "Language"}}</th>
  </tr>
  </thead>
      <tbody>
      {{ range .Pages }}
   <tr>
    <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
    <td>{{ with .Params.resource }}{{ . | markdownify }} {{ end }} </td>
    <td>{{ .Date.Format "2006-01-02" }} </td>
    <td>{{ with .Params.reporter }}{{ . | markdownify }} {{ end }} </td>
    <td>{{ .Params.language }} </td>
  </tr>
      {{ end }}
      </tbody>
      </table>
        </div>
{{ partial "datatables/scripts" ( dict "id" "usecases" "col" 2 "order" "desc" )  }}
      </div>
    </section>
{{ $newsletterpartial := (partial "translate-path" (dict "name" "whole-page-fragments/newsletter" "language" .Language.Lang )) }}
{{ partial $newsletterpartial (dict "Site" .Site "divider" "lr" )  }}
{{ end }}
