{{ define "main" }}
 <section class="section section-generic">
      <div class="container">
        <!-- Header text -->
        <div class="row">
          <div class="col-md-8">
            <h1>{{ .Title | markdownify }}</h1>
            <p class="subtitle">
              {{ .Content }}
            </p>
          </div>
        </div>

        <div class="row case-cards mt-5">
          {{ range (first 3 (shuffle (where .Site.Data.usecases.usecases ".image" "!=" "noimage"  )) ) }}
          <div class="col-md-4">
            <div class="case-card">
              {{ $image := (print "usecases/" .image )}}
              {{- $original := resources.Get $image -}}
              {{ $image := $original.Fill "352x175" }}
              <img src="{{ $image.RelPermalink }}" {{ with .alt }}alt="{{ . }}"{{ else }} alt=""{{ end }} />
              <div class="case-card-body">
                <div class="d-flex flex-wrap align-items-center">
                  <a lang="{{ .language }}" href="{{ .url }}" class="case-title mr-2">{{ .title }}</a>
                </div>
                {{ with .resource }}
                <p class="mt-2 case-text">
               {{ i18n "Featuring"}} {{ . | markdownify }}. 
                </p>
                 {{ end }}
                <p class="mt-2 case-text">
               {{ i18n "Reported-on"}} {{ .date }}. 
                </p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        
        <div class="row case-cards mt-5">
      <table id="usecases" class="display" width="100%">
        <thead>
          <tr>
    <th>{{ i18n "Title"}}</th>
    <th>{{ i18n "Resource"}}</th>
    <th>{{ i18n "Date"}}</th>
    <th>{{ i18n "Reporter"}}</th>
    <th>{{ i18n "Language"}}</th>
  </tr>
  </thead>
      <tbody>
      {{ range .Site.Data.usecases.usecases }}
   <tr>
     
    <td><a href="{{ .url }}">{{ .title }}</a></td>
    <td>{{ with .resource }}{{ . | markdownify }} {{ end }} </td>
    <td>{{ .date }} </td>
    <td>{{ .reporter | markdownify }} </td>
    <td>{{ .language }} </td>
  </tr>
      {{ end }} 
      </tbody>
      </table>
        </div>
{{ partial "datatables/scripts" ( dict "id" "usecases" "col" 2 "order" "desc" )  }}
      </div>
    </section>
{{ $newsletterpartial := (partial "translate-path" (dict "name" "whole-page-fragments/newsletter" "language" .Language.Lang )) }}
{{ partial $newsletterpartial (dict "Site" .Site "divider" "lr" )  }}
{{ end }}
