{{ define "main" }}
<section class="section section-generic">
  <div class="container">
    <!-- Header text -->
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h1>{{ .Title | markdownify }}</h1>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="row">
          <div class="col-6">
        <a href="https://numfocus.org/donate-to-ropensci" class="btn btn-primary mt-5">{{ i18n "Donate" }}</a>
        </div>
        <div class="col-6">
        <img src="/images/NumFocusSquare.png" href="https://numfocus.org/" style="width:150px; display: inline-block; vertical-align:middle;margin-top: 3rem !important; float:right;"></img>
        </div>
        </div>
        <p class="subtitle">
          {{ i18n "check-money" }}
        </p>
        <p class="mt-3">
          <strong>NumFOCUS</strong>
        </p>
        <p>P.O. Box 90596</p>
        <p>Austin, TX 78709</p>
        <p>USA</p>
      </div>
    </div>

    <!-- Content here -->
  </div>
</section>
{{ $brandpartial := (partial "translate-path" (dict "name" "whole-page-fragments/brands" "language" .Language.Lang )) }}
{{ partial $brandpartial (dict "Site" .Site "divider" "rl" )  }}
{{ end }}
