<section class="section section-about">
  <div class="container bg-cubes">
    <!-- Header text -->
    <div class="row">
      <div class="col-md-9 offset-md-1">
        <h1 class="about-title">
          rOpenSci fosters a culture that values <strong class="link-text">open</strong> and
          <strong class="link-text">reproducible</strong> research using
          <strong class="link-text">shared</strong> data and reusable software
        </h1>
      </div>
    </div>
    <div class="about-img">
      <img src="/images/about.png" alt="" />
    </div>
    <!-- Text block -->
    <div class="row about-block">
      <div class="col-md-3 text-md-right">
        <h4 class="about-block__title">
          We do this by
        </h4>
      </div>
      <div class="col-md-6 about-block__text">
        <p>
          Creating technical <b>infrastructure</b> in the form of carefully vetted, staff and
          community-contributed R software tools that lower barriers to working with scientific
          data sources on the web
        </p>
        <p>Making the right data, tools and best practices more <b>discoverable</b></p>
        <p>Creating social infrastructure through a welcoming and diverse <b>community</b></p>
        <p>Promoting <b>advocacy</b> for a culture of data sharing and reusable software</p>
        <p>
          Building <b>capacity</b> of software users and developers and fostering a sense of pride in
          their work
        </p>
      </div>
    </div>
  </div>
</section>