{{ partial "whole-page-fragments/divider" .divider }}
<section class="section community">
  <div class="container">
  <h2 class="title mt-5">Join the community!</h2>
    <div class="row">
      <div class="col-md-8">
      </div>
    </div>
    <div class="row ask-cards mt-4">
      <div class="col-md-3">
        <div class="ask-card">
          <a href="https://contributing.ropensci.org/" class="ask-card-body">
            <span>Contributing guide</span>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ask-card">
          <a href="https://hachyderm.io/@rOpenSci" class="ask-card-body">
            <img src="/images/svg/mastodon.svg" alt="" />
            <span>@rOpenSci</span>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ask-card">
          <a href="https://www.linkedin.com/company/ropensci/" class="ask-card-body">
            <img src="/images/svg/linkedin-share.svg" alt="" />
            <span>@rOpenSci</span>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ask-card">
          <a href="/code-of-conduct" class="ask-card-body">
            <span>Code of Conduct</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
