{{ partial "whole-page-fragments/divider" .divider }}
<section class="section community">
  <div class="container">
  <h2 class="title mt-5">Pregunta & contesta #rstats</h2>
    <div class="row">
      <div class="col-md-8">
        <p class="subtitle">
          Formule y responda preguntas sobre nuestros paquetes o recursos.
        </p>
      </div>
    </div>
    <div class="row ask-cards mt-4">
      <div class="col-md-4">
        <div class="ask-card">
          <a href="https://discuss.ropensci.org/" class="ask-card-body">
            <img src="/images/svg/discuss.svg" alt="" />
            <span>Nuestros foros</span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ask-card">
          <a href="https://hachyderm.io/@rOpenSci" class="ask-card-body">
            <img src="/images/svg/mastodon.svg" alt="" />
            <span>@rOpenSci</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
