{{ partial "whole-page-fragments/divider" .divider }}
    <!-- Community section -->
    <section class="section community">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="title">Our Community</h2>
            <p class="subtitle">
              We welcome you to join us and help improve tools and practices available to
              researchers while receiving greater visibility to your contributions. You can
              contribute with your packages, resources or post questions so our members will help
              you along your process.
            </p>
            <a class="link-arrow" href="/about#team"><span>Meet the team</span></a>
          </div>
          <div class="col-md-6">
            <figure>
            <img src="{{ "images/community.png" | relURL }}" alt="" />   
            <figcaption>Lydia Hill Illustration. All rights reserved.</figcaption>
</figure>
          </div>
        </div>
        <div class="row soft-cards cards">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="{{ "images/svg/community/discuss.svg" | relURL }}" alt="" />
                </div>
                <h5 class="card-title">Join the Conversation</h5>
                <p class="card-text">
                  Discover, learn and get involved in helping to shape the future of Data Science
                </p>
                <a class="card-link link-arrow" href="https://discuss.ropensci.org"><span>Our Forum</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="{{ "images/svg/community/call.svg" | relURL }}" alt="" />
                </div>
                <h5 class="card-title">Community Calls</h5>
                <p class="card-text">
                  Join in our quarterly Community Calls with fellow developers and scientists - open
                  to all
                </p>
                <a class="card-link link-arrow" href="/commcalls"><span>Join Us</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="{{ "images/svg/community/events.svg" | relURL }}" alt="" />
                </div>
                <h5 class="card-title">Events</h5>
                <p class="card-text">
                  Upcoming events including meetings at which our team members are speaking. 
                </p>
                <a class="card-link link-arrow" href="/events"><span>Find out more</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
