{{ partial "whole-page-fragments/divider" .divider }}
    <!-- Community section -->
    <section class="section community">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="title">Nuestra Comunidad</h2>
            <p class="subtitle">
                   Te invitamos a que te unas a rOpenSci y contribuyas a mejorar las herramientas y prácticas a disposición de quines investigan,
              al tiempo que da mayor visibilidad a sus contribuciones. Puedes
              contribuir con tus paquetes, recursos o plantear preguntas para que las personas que participan en nuestra comunidad te ayuden
              a lo largo de tu proceso.
            </p>
            >{{ partial "translate-url" (dict "name" "community" "Site" .Site  "class" "link-arrow")}}<span>Nuestra comunidad</span></a>
          </div>
          <div class="col-md-6">
             <img src="{{ "images/community.png" | relURL }}" alt="Avatares ficticios de personas de la comunidad rOpenSci. Lydia Hill Illustration, todos los derechos reservados." /> 
          </div>
        </div>
        <div class="row soft-cards cards">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="{{ "images/svg/community/discuss.svg" | relURL }}" alt="" />
                </div>
                <h5 class="card-title">Únete a la conversación</h5>
                <p class="card-text">
                  Descubre, aprende y participa en el desarrollo del futuro de la ciencia de datos.
                </p>
                <a class="card-link link-arrow" href="https://discuss.ropensci.org"><span>Our Forum</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="{{ "images/svg/community/call.svg" | relURL }}" alt="" />
                </div>
                <h5 class="card-title">Conversaciones con la comunidad</h5>
                <p class="card-text">
                  Participe en nuestras conversaciones con la comunidad con otras desarrolladores y científicas - abiertas a tod@s
                </p>
                <a class="card-link link-arrow" href="/commcalls"><span>Únete</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="{{ "images/svg/community/events.svg" | relURL }}" alt="" />
                </div>
                <h5 class="card-title">Eventos</h5>
                <p class="card-text">
                     Próximos eventos, incluidas reuniones en las que intervendrán miembros de nuestro equipo. 
                </p>
                <a class="card-link link-arrow" href="/events"><span>Más información</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
