{{ with .divider }}
  {{ partial "whole-page-fragments/divider" . }}
{{ end }}
    <!-- Community section -->
    <section class="section community">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="title" id = "r-universe">El proyecto R-Universe</h2>
            <p class="subtitle">
              R-Universe es nuestra plataforma de próxima generación para descubrir herramientas de R, aprender de la documentación, desarrollar y probar paquetes y publicar tus propias colecciones. La tecnología de R-Universe permite a particulares, organizaciones y consorcios gestionar sus propios repositorios a cualquier escala.
            </p>
            <a class="link-arrow" href="/r-universe"><span>Más información</span></a>
          </div>
          <div class="col-md-6">
             <img src="{{ "images/pexels-pixabay-2159.jpg" | relURL }}" alt="Un cohete." style="width: 33vw;"/> 
          </div>
        </div>
        <div class="row soft-cards cards">
          <div class="col-md-4 align-items-stretch">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Visitar</h5>
                <p class="card-text">
                  Descubre y utiliza paquetes.
                </p>
                <a class="card-link link-arrow" href="https://r-universe.dev/search"><span>Dashboard</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 align-items-stretch">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Aprender</h5>
                <p class="card-text">
                  Documentación de R-Universe.
                </p>
                <a class="card-link link-arrow" href="https://docs.r-universe.dev/"><span>Documentación</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Contribuir</h5>
                <p class="card-text">
                  Reportes de errores y solicitudes de funcionalidades. 
                </p>
                <a class="card-link link-arrow" href="https://github.com/r-universe-org/help/discussions"><span>Foro</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>