{{ with .divider }}
  {{ partial "whole-page-fragments/divider" . }}
{{ end }}
    <!-- Community section -->
    <section class="section community">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="title" id = "r-universe">The R-universe project</h2>
            <p class="subtitle">
              R-universe is rOpenSci’s platform for improving publication and discovery of research software in R.
            </p>
            <a class="link-arrow" href="/r-universe"><span>Find out more</span></a>
          </div>
          <div class="col-md-6">
             <img src="{{ "images/pexels-pixabay-2159.jpg" | relURL }}" alt="A rocket." /> 
          </div>
        </div>
        <div class="row soft-cards cards">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Browse</h5>
                <p class="card-text">
                  Discover and use packages.
                </p>
                <a class="card-link link-arrow" href="https://r-universe.dev/search"><span>Dashboard</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Learn</h5>
                <p class="card-text">
                  R-universe documentation.
                </p>
                <a class="card-link link-arrow" href="https://docs.r-universe.dev/"><span>Docs</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Contribute</h5>
                <p class="card-text">
                  Bug reports and feature requests. 
                </p>
                <a class="card-link link-arrow" href="https://github.com/r-universe-org/help/discussions"><span>Forum</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>