{{ with .divider }}
  {{ partial "whole-page-fragments/divider" . }}
{{ end }}

    <!-- Review section   -->
    <section class="section soft-review d-none d-md-block">
      <div class="container">
        <h2 class="title" id="review">Nuestro Proceso de Revisión de Software</h2>
        <p class="subtitle">
          Nuestra revisión de software por pares es un mecanismo para validar paquetes de alta calidad, mejorar las mejores prácticas y habilidades en la comunidad de software de investigación y construir colaboraciones y comunidad
 a través de un proceso de revisión transparente, constructivo y abierto utilizando la infraestructura de código abierto de GitHub
.  A través de este proceso reunimos un conjunto de cientos de herramientas para apoyar la ciencia abierta y una comunidad de personas que crean, revisan y mantienen paquetes que las sostienen.    </p>
        <a class="link-arrow package-cta" href="/software-review"><span>Ver más</span></a>

        <div class="row soft-cards cards">
          <div class="col-md-4 align-items-stretch">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <div class="card-icon">
                  <img src="/images/svg/software-review/open-review.svg" alt="" />
                </div>
                <h5 class="card-title">Revisiones abiertas</h5>
                <p class="card-text">
                  Combinamos la revisión por pares académica con la revisión de software de producción para crear un proceso de revisión transparente, colaborativo y más eficiente.
                </p>
                <a class="card-link link-arrow" href="https://github.com/ropensci/software-review/issues"><span>Ver revisiones abiertas</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4 align-items-stretch">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <div class="card-icon">
                  <img src="/images/svg/software-review/guidance.svg" alt="" />
                </div>
                <h5 class="card-title">Normas de Software</h5>
                <p class="card-text">
                  Basadas en las mejores prácticas de desarrollo de software y en los estándares de R, sus aplicaciones
                  y su base de usuarios y usuarias.
                </p>
                <a class="card-link link-arrow" href="https://devguide.ropensci.org"><span>Nuestra guía de desarrollo</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 align-items-stretch">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <div class="card-icon">
                  <img src="/images/svg/software-review/guidance.svg" alt="" />
                </div>
                <h5 class="card-title">Software Estadístico</h5>
                <p class="card-text">
                  Hemos ampliado nuestro sistema de revisión por pares para incluir paquetes que implementan algoritmos estadísticos.
                </p>
                <a class="card-link link-arrow" href="https://stats-devguide.ropensci.org/"><span>Nuestra guía de desarrollo de software estadístico</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>