{{ partial "whole-page-fragments/divider" .divider }}

    <!-- Review section   -->
    <section class="section soft-review d-none d-md-block">
      <div class="container">
        <h2 class="title">Our Software Review Process</h2>
        <p class="subtitle">
          Our suite of packages is comprised of contributions from staff engineers and the wider R
          community via a transparent, constructive and open review process utilising GitHub's open
          source infrastructure.
        </p>
        <a class="link-arrow package-cta" href="/software-review"><span>Find out more</span></a>

        <div class="row soft-cards cards">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="./images/svg/software-review/open-review.svg" alt="" />
                </div>
                <h5 class="card-title">Open Reviews</h5>
                <p class="card-text">
                  We combine academic peer reviews with production software code reviews to create a
                  transparent, collaborative & more efficient review process
                </p>
                <a class="card-link link-arrow" href="https://github.com/ropensci/software-review/issues"><span>View open reviews</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="./images/svg/software-review/guidance.svg" alt="" />
                </div>
                <h5 class="card-title">Guidance & Standards</h5>
                <p class="card-text">
                  Based on best practices of software development and standards of R, its
                  applications and user base.
                </p>
                <a class="card-link link-arrow" href="https://devguide.ropensci.org"><span>View Documentation</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="/images/svg/software-review/discuss.svg" alt="" />
                </div>
                <h5 class="card-title">Active Community</h5>
                <p class="card-text">
                  Our diverse community of academics, data scientists and developers provide a
                  platform for shared learning, collaboration and reporoducible science
                </p>
                <a class="card-link link-arrow" href="/onboarding/"><span>Review for rOpenSci</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
