{{ with .divider }}
  {{ partial "whole-page-fragments/divider" . }}
{{ end }}

    <!-- Review section   -->
    <section class="section soft-review d-none d-md-block">
      <div class="container">
        <h2 class="title" id="review">Nuestro Proceso de Revisión de Software</h2>
        <p class="subtitle">
          rOpenSci's Software Peer Review es un mecanismo para validar paquetes de alta calidad, mejorar las mejores prácticas y habilidades en la comunidad de software de investigación, y construir colaboraciones y la comunidad
 a través de un proceso de revisión transparente, constructivo y abierto utilizando la infraestructura de código abierto de GitHub
.  A través de ella hemos reunido un conjunto de cientos de herramientas para apoyar la ciencia abierta, y una comunidad de autores de paquetes, revisores y mantenedores para mantenerlos.        </p>
        <a class="link-arrow package-cta" href="/software-review"><span>Find out more</span></a>

        <div class="row soft-cards cards">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="./images/svg/software-review/open-review.svg" alt="" />
                </div>
                <h5 class="card-title">Revisiones abiertas</h5>
                <p class="card-text">
                  Combinamos las revisiones por pares académicas con las revisiones de código de software de producción para crear un proceso de revisión transparente, colaborativo y más eficiente.
                </p>
                <a class="card-link link-arrow" href="https://github.com/ropensci/software-review/issues"><span>Ver revisiones abiertas</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="./images/svg/software-review/guidance.svg" alt="" />
                </div>
                <h5 class="card-title">Normas de Software</h5>
                <p class="card-text">
                  Basado en las mejores prácticas de desarrollo de software y en los estándares de R, sus aplicaciones
                  y su base de usuarios.
                </p>
                <a class="card-link link-arrow" href="https://devguide.ropensci.org"><span>Nuestra guía de desarrollo</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="/images/svg/software-review/guidance.svg" alt="" />
                </div>
                <h5 class="card-title">Software Estadístico</h5>
                <p class="card-text">
                  Hemos ampliado nuestro sistema de revisión por pares para incluir paquetes que implementan algoritmos estadísticos.
                </p>
                <a class="card-link link-arrow" href="https://stats-devguide.ropensci.org/"><span>Nuestra guía de desarrollo de software estadístico</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>