{{ with .divider }}
  {{ partial "whole-page-fragments/divider" . }}
{{ end }}

    <!-- Review section   -->
    <section class="section soft-review d-none d-md-block">
      <div class="container">
        <h2 class="title" id="review">Our Software Review Process</h2>
        <p class="subtitle">
          rOpenSci's Software Peer Review is a mechanism to validate high-quality packages, improve best practices and skills in the research software community, and build collaborations and
          community via a transparent, constructive and open review process utilising GitHub's open
          source infrastructure.  Through it we have assembled a suite of hundreds of tools to support open science, and a community of package authors, reviewers, and maintainers to sustain them.
        </p>
        <a class="link-arrow package-cta" href="/software-review"><span>Find out more</span></a>

        <div class="row soft-cards cards">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="./images/svg/software-review/open-review.svg" alt="" />
                </div>
                <h5 class="card-title">Open Reviews</h5>
                <p class="card-text">
                  We combine academic peer reviews with production software code reviews to create a
                  transparent, collaborative & more efficient review process
                </p>
                <a class="card-link link-arrow" href="https://github.com/ropensci/software-review/issues"><span>View open reviews</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="./images/svg/software-review/guidance.svg" alt="" />
                </div>
                <h5 class="card-title">Software Standards</h5>
                <p class="card-text">
                  Based on best practices of software development and standards of R, its
                  applications and user base.
                </p>
                <a class="card-link link-arrow" href="https://devguide.ropensci.org"><span>Our Dev Guide</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="card-icon">
                  <img src="/images/svg/software-review/guidance.svg" alt="" />
                </div>
                <h5 class="card-title">Statistical Software</h5>
                <p class="card-text">
                  We have expanded our peer review system to include packages that implement statistical algorithms. 
                </p>
                <a class="card-link link-arrow" href="https://stats-devguide.ropensci.org/"><span>Our Stats Dev Guide</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>