{{ define "main" }}
{{ $pages := (partial "calendar/future-events" (dict "Site" .Site)) }}
{{ $featured := ( where $pages "Params.featured" true ) }}
<section class="blog-hero">
  <div class="container bg-cubes">
    <div class="row align-items-center blog-heading">
        <h1>{{ i18n "Future-ropensci-events" }}</h1>
      </div>
{{ if gt (len $featured) 0 }}
    <div class="blog-featured">
      <div class="row">
           {{ range $featured.ByDate.Reverse }}
          {{ .Render "featured-card" }}
          {{ end }}
        </div>
      </div>
{{ end }}
{{ partial "calendar/events" (dict "Site" .Site "Content" .Content "Tips" .Params.Tips )  }}
         
  </div>
</section>
{{ $newsletterpartial := (partial "translate-path" (dict "name" "whole-page-fragments/newsletter" "language" .Language.Lang )) }}
{{ partial $newsletterpartial (dict "Site" .Site "divider" "rl" )  }}
{{ end }}
