{{ define "main" }}
{{ $tz := default "UTC" .Params.displaytz }}
<section class="section event-detail">
  <div class="container bg-cubes">
    <div class="row">
      <div class="col-md-8">
        <div class="event-detail-date">
          {{ (time .Params.dateStart) | time.In $tz | dateFormat "Monday" }} {{ (time .Params.dateStart) | time.In $tz |
            dateFormat ":date_medium" }} {{ (time .Params.dateStart) | time.In $tz | dateFormat "15:04" }} ({{ $tz }})
        </div>
        <h1>{{ .Title }}</h1>
        <div class="event-detail-author">
          <p><span class="ml-1">
              {{ .Params.location }}, {{ .Params.country }} • {{ i18n "With" }} {{ with .Params.attendees }}{{ partial
              "blogs/pretty_author_names" . }}.</span>
            {{ end }}
          </p>
        </div>
        {{ if and ( ge (.Date).Local now.Local ) ( isset .Params "deets" ) }}
        <div class="event-detail-calendar">
            <div class="row justify-content-between">
              <div class="col-auto mr-auto">
                <p>
                  🕓 <strong>{{ (time .Params.dateStart) | time.In $tz | dateFormat "Monday" }} {{ (time .Params.dateStart) | time.In $tz |
                    dateFormat ":date_medium" }} {{ (time .Params.dateStart) | time.In $tz | dateFormat "15:04" }}
                    {{ if (ne (.Params.dateEnd | dateFormat ":date_short" ) (.Params.dateStart | dateFormat
                    ":date_short"))}}
                  </strong></p>
                  <p>
                    🕓 <strong>{{ (time .Params.dateEnd) | time.In $tz | dateFormat "Monday" }} {{ (time .Params.dateEnd) | time.In $tz | dateFormat
                    ":date_medium" }} {{ (time .Params.dateEnd) | time.In $tz | dateFormat "15:04" }} ({{ $tz }})</strong>
                  </p>
                    {{ else }}
                    - {{ (time .Params.dateEnd) | time.In $tz | dateFormat "15:04" }} ({{ $tz }})</strong></p>
                    {{ end }}
              </div>
              <div class="col-auto">
                  {{ if ge (time .Params.dateEnd).Local now.Local }}
                  {{ with .Params.deets }}
                  <a data-toggle="collapse" href="#zoominfo" role="button" aria-expanded="false"
                    aria-controls="collapseExample">{{ i18n "Join-the-event" }}</a>
                  {{ end }}
                  {{ end }}
                <div class="add-wrapper">
                  <div class="drop-btn">{{ i18n "Add-to-Calendar" }}</div>
                  <ul class="add-menu">
                    <li>
                      <a
                        href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ .Params.dateStart}}&ah={{ sub (time .Params.dateEnd).Hour (time .Params.dateStart).Hour }}&msg={{ .Title }}">
                        <i class="fas fa-clock"></i>
                        <span>Find your timezone</span>
                      </a>
                    </li>
                    {{ if and ( ge (time .Params.dateEnd).Local now.Local ) ( isset .Params "deets" ) }}
                    <li>
                      <a href="#join-us">
                        <i class="fas fa-ticket-alt"></i>
                        <span>How to join</span>
                      </a>
                    </li>
                    <li>
                      {{ end }}
                      <a href="index.ics">
                        <i class="fas fa-calendar-plus"></i>
                        <span>iCal</span>
                      </a>
                    </li>
                    <li>
                      <a href="{{ partial "calendar/google-calendar-url" ( dict "title" .Title "context" . "location"
                        .Params.location ) }}">
                        <i class="fab fa-google"></i>
                        <span>Google Calendar</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              {{ if isset .Params "deets" }}
              <div class="collapse" id="zoominfo" style="margin-top:1rem;">
                <div class="card card-body">
                  {{ if isset .Params "zoomurl" }}
                  <p>{{ i18n "zoom-test" }} <a href="https://zoom.us/{{.Lang}}/test">https://zoom.us/{{.Lang}}/test</a>.
                  </p>
                  <p>{{ i18n "meeting-join" }} <a href="{{ .Params.zoomurl }}">{{ .Params.zoomurl }}</a></p>
                  {{ end }}
                  <p>{{ .Params.deets | markdownify }}</p>
                  {{ with .Params.zoomurl }}
                  <p>{{ i18n "zoom-phone" }} <a href="https://zoom.us/u/adAyZGMYrE">https://zoom.us/u/adAyZGMYrE</a></p>
                  {{ end }}

                </div>
              </div>
              {{ end }}
          </div>
          {{ end }}
        </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="content">
          {{ with .Params.notes }}
          <p>📝 <b><a href="{{ . }}">Collaborative notes</a></b></p>
          {{ end }}
          {{ .Content }}

          {{ with .Params.resources}}
          <h4>Resources</h4>
          {{ range . }}
          <div class="talk-card">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-9">
                <div class="talk-title">
                  {{ .title }}
                </div>
                <div class="talk-info">
                  <span class="talk-date">{{ .speaker }}</span>{{with .summary}}<br />
                  <div>{{ . }}</div>{{ end }}
                </div>
              </div>
              <div class="col-md-2 text-md-center"><a href="{{ .slides }}"><i class="fas fa-desktop"></i></a>
                {{ with .video }} • <a href="{{ . }}"><i class="fas fa-film"></i></a>{{ end }}
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          <div class="event-join">
            <p>Find <a href="/events">upcoming events.</a>
            <p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="field-under mt-4">
          <span>{{ i18n "Share" }}</span>
          {{ partial "mastodon/share-link" . }}
          {{ partial "linkedin/share-link" . }}
          {{ partial "bluesky/share-link" . }}
          {{ partial "email/share-link" . }}
        </div>
      </div>
    </div>
    {{ $Site := .Site }}
    {{ with .Params.elements }}
    {{ range . }}
    {{ partial . $Site }}
    {{ end }}
    {{ end }}

    <!-- Content here -->
  </div>
</section>
{{ $newsletterpartial := (partial "translate-path" (dict "name" "whole-page-fragments/newsletter" "language" .Site.Language.Lang )) }}
{{ partial $newsletterpartial (dict "Site" .Site "divider" "lr" )  }}
{{ $brandpartial := (partial "translate-path" (dict "name" "whole-page-fragments/brands" "language" .Site.Language.Lang )) }}
{{ partial $brandpartial (dict "Site" .Site "divider" "rl" )  }}
{{ end }}