{{ define "main" }}
   <section class="section event-detail">
      <div class="container bg-cubes">
        <div class="row">
      <div class="col-md-8">
            <div class="event-detail-date">
              {{ .Date.Format "January 2, 2006" }}
            </div>
        <h1>{{ .Title }}</h1>
            <div class="event-detail-author">
              <p><span class="ml-1">
                {{ .Params.location }}, {{ .Params.country }} • With {{ with .Params.attendees }}{{ partial "blogs/pretty_author_names" . }}.</span>
                {{ end }}
              </p>
            </div>
{{ if and ( ge (.Date).Local now.Local ) ( isset .Params "deets" ) }}
<div class="event-detail-calendar">
              <div class="d-flex justify-content-between">
                <p>
                  🕓 <strong>{{ (time .Params.dateStart).UTC | dateFormat "Monday, 02 January 2006 15:04 MST" }}</strong> {{ if ge (time .Params.dateEnd).Local now.Local }}{{ with .Params.deets }} - <a data-toggle="collapse" href="#zoominfo" role="button" aria-expanded="false" aria-controls="collapseExample">Join the event</a>{{ end }}{{ end }}
                </p>
                <div class="add-wrapper">
                  <div class="drop-btn">Add to Calendar</div>
                  <ul class="add-menu">
                    <li>
                      <a
                        href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ .Params.dateStart}}&ah={{ sub (time .Params.dateEnd).Hour (time .Params.dateStart).Hour }}&msg={{ .Title }}"
                      >
                        <i class="fas fa-clock"></i>
                        <span>Find your timezone</span>
                      </a>
                    </li>
                    {{ if and ( ge (time .Params.dateEnd).Local now.Local ) ( isset .Params "deets" ) }}
                    <li>
                      <a href="#join-us">
                        <i class="fas fa-ticket-alt"></i>
                        <span>How to join</span>
                      </a>
                    </li>
                    <li>
                      {{ end }}
                      <a
                        href="index.ics"
                      >
                        <i class="fas fa-calendar-plus"></i>
                        <span>iCal</span>
                      </a>
                    </li>
                    <li>
                      <a
                        href="{{ partial "calendar/google-calendar-url" ( dict "title" .Title  "context" . "location" .Params.location ) }}"
                      >
                        <i class="fab fa-google"></i>
                        <span>Google Calendar</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              {{ if isset .Params "deets" }}
                <div class="collapse" id="zoominfo" style="margin-top:1rem;">
  <div class="card card-body">
    {{ with .Params.zoomurl }}
    <p>Test your Zoom setup <a href ="https://zoom.us/test">https://zoom.us/test</a>.</p>
    <p>Join the meeting: <a href="{{ . }}">{{ . }}</a></p>
    {{ end }}
    <p>{{ .Params.deets | markdownify }}</p>
    {{ with .Params.zoomurl }}
    <p>Find your local number to join by phone: <a href="https://zoom.us/u/adAyZGMYrE">https://zoom.us/u/adAyZGMYrE</a></p>
    {{ end }}

  </div>
</div>
{{ end }}
            </div>
{{ end }}
              </div>
            </div>

        <div class="row">
      <div class="col-md-8">
        <div class="content">
          {{ .Content }}

{{ with .Params.resources}}
<h4 >Resources</h4>
{{ range . }}
<div class="talk-card">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-9">
      <div class="talk-title">
        {{ .title }}
      </div>
      <div class="talk-info">
        <span class="talk-date">{{ .speaker }}</span>
      </div>
    </div>
    <div class="col-md-2 text-md-center"><a href="{{ .slides }}"><i class="fas fa-desktop"></i></a>
      {{ with .video }} • <a href="{{ . }}"><i class="fas fa-film"></i></a>{{ end }}
    </div>
  </div>
  </div>
{{ end }}
{{ end }}
<div class="event-join">
          <p>Find <a href="/events">upcoming events.</a><p>
                      </div>
      </div>
      </div>
      <div class="col-md-2">
      <div class="field-under mt-4">
        <span>Share</span>
        {{ partial "twitter/share-link" . }}
        {{ partial "linkedin/share-link" . }}
      </div>
          </div>
    </div>
    {{ $Site := .Site }}
    {{ with .Params.elements }}
      {{ range . }}
        {{ partial . $Site }}
      {{ end }}
    {{ end }}

    <!-- Content here -->
  </div>
</section>
{{ partial "whole-page-fragments/newsletter"  (dict "divider" "lr" ) }}
{{ partial "whole-page-fragments/brands" (dict "Site" .Site "divider" "rl" ) }}
{{ end }}