    <!-- Footer section -->
    <footer class="footer d-print-none">
      <div class="footer-container mx-auto">
        <!-- Footer nav -->
        <div class="footer-nav">
          <ul class="footer-nav__item">
            <li><a class="footer-nav__link" lang="en" href="/about/">About</a></li>
            <li><a class="footer-nav__link" lang="en" href="/about/">About rOpenSci</a></li>
            <li><a class="footer-nav__link" lang="en" href="/software-review/">Software Review Process</a></li>
            <li><a class="footer-nav__link" lang="en" href="/about/#team">Our Team</a></li>
            <li>
              <a class="footer-nav__link" lang="en" href="/careers/">Jobs {{ if partial "careers/we-are-hiring" . }}<strong>We’re Hiring!</strong>{{ end }}</a>
            </li>
            <li><a class="footer-nav__link" lang="en" href="/donate/">Donate</a></li>
            <li><a class="footer-nav__link" lang="en" href="/contact/">Contact Us</a></li>
          </ul>
          <ul class="footer-nav__item">
            <li><a class="footer-nav__link" lang="en" href="/community/">Community</a></li>
            <li><a class="footer-nav__link" lang="en" href="/community/">Our Community</a></li>
            <li><a class="footer-nav__link" lang="en" href="/commcalls/">Community Calls</a></li>
            <li><a class="footer-nav__link" lang="en" href="/events/">Events</a></li>
            <li><a class="footer-nav__link external-link" lang="en" href="https://discuss.ropensci.org/">Join the Discussion</a></li>
            <li><a class="footer-nav__link" lang="en" href="/code-of-conduct/">Code of Conduct (EN)</a></li>
            <li><a class="footer-nav__link" lang="es" href="/es/codigo-de-conducta/">Código de Conducta (ES)</a></li>
          </ul>
          <ul class="footer-nav__item">
            <li><a class="footer-nav__link" lang="en" href="/resources/">Resources</a></li>
            <li><a class="footer-nav__link" lang="en" href="/packages/">Packages</a></li>
            <li><a class="footer-nav__link" lang="en" href="/usecases/">Use Cases</a></li>
            <li><a class="footer-nav__link" lang="en" href="/resources/">Talks & Publications</a></li>
            <li><a class="footer-nav__link external-link" lang="en" href="https://docs.ropensci.org/">Documentation</a></li>
            <li><a class="footer-nav__link" lang="en" href="/news/">Newsletter</a></li>
            <li><a class="footer-nav__link" lang="en" href="/how-to-cite-ropensci/">Cite rOpenSci</a></li>
          </ul>
        </div>

        <!-- Footer social -->
        <ul class="footer-social d-flex justify-content-center">
          <li>
            <a lang="en" href="https://vimeo.com/ropensci" aria-label="Vimeo account for rOpenSci">
              <img class="footer-social__icon" src="/images/svg/social-icons/vimeo.svg" alt="" />
            </a>
          </li>
          <li>
            <a lang="en" href="https://github.com/ropensci" aria-label="GitHub account for rOpenSci">
              <img class="footer-social__icon" src="/images/svg/social-icons/github.svg" alt="" />
            </a>
          </li>
          <li>
            <a lang="en" href="https://twitter.com/ropensci" aria-label="Twitter account for rOpenSci" rel="me">
              <img
                class="footer-social__icon"
                src="/images/svg/social-icons/twitter.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a lang="en" href="https://hachyderm.io/@rOpenSci" aria-label="Mastodon account for rOpenSci" rel="me">
              <img
                class="footer-social__icon"
                src="/images/svg/social-icons/mastodon.svg"
                alt=""
              />
            </a>
          </li>
          <li>
            <a lang="en" href="https://github.com/ropenscilabs" aria-label="GitHub account for rOpenSci incubator projects">
              <img class="footer-social__icon" src="/images/svg/social-icons/el.svg" alt="" />
            </a>
          </li>
          <li >
            <a lang="en" href="https://www.netlify.com/" aria-label="Website deployed via Netlify" title="Website deployed via Netlify">
              <img
                class="footer-social__icon"
                src="https://www.netlify.com/img/global/badges/netlify-light.svg"
                alt=""
              />
            </a>
          </li>
          <li >
            <a lang="en" href="https://1password.com/" aria-label="Happy 1Password users" title="Happy 1Password users">
              <img
                class="footer-social__icon"
                src="/images/1password-logo.svg"
                alt=""
              />
            </a>
          </li>
        </ul>
        <!-- Footer copy -->
        <p class="footer-copy text-md-center">
          Except where otherwise noted, content on this site is licensed under the CC-BY license •
          <a lang="en" href="/privacy/">Privacy Policy</a>
        </p>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    {{ $js := resources.Get "common.min.js" }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.js" integrity="sha512-zv6Ywkjyktsohkbp9bb45V6tEMoWhzFzXis+LrMehmJZZSys19Yxf1dopHx7WzIKxr5tK2dVcYmaCk2uqdjF4A==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.38.0/autocomplete.js" integrity="sha512-8A++P507RNeVXI9ij39nW3Rlktj3SeblU/NN3uXrSBwKy/yemNU/H6tpdO3VCemVpqHWr2S5CQvChiPAzU+gAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/search.js"></script>
{{ if and (eq .Kind "page") (eq .Type "packages") }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
    {{ $pkgjs := resources.Get "pagination.min.js" }}
{{ $securePKGJS := $pkgjs | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $securePKGJS.Permalink }}" integrity="{{ $securePKGJS.Data.Integrity }}"></script>
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

    <style>
      .next-btn,
      .prev-btn {
        cursor: pointer;
        user-select: none;
      }
    </style>
{{ else }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ if .Params.photogallery }}
<script src={{ "js/load-photoswipe.js" | relURL }}></script>

<!-- Photoswipe css/js libraries -->
<link rel="stylesheet" lang="en" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" integrity="sha256-sCl5PUOGMLfFYctzDW3MtRib0ctyUvI9Qsmq2wXOeBY=" crossorigin="anonymous" />
<link rel="stylesheet" lang="en" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" integrity="sha256-BFeI1V+Vh1Rk37wswuOYn5lsTcaU96hGaI7OUVCLjPc=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
<!-- Background of PhotoSwipe.
     It's a separate element, as animating opacity is faster than rgba(). -->
<div class="pswp__bg"></div>
<!-- Slides wrapper with overflow:hidden. -->
<div class="pswp__scroll-wrap">
    <!-- Container that holds slides.
      PhotoSwipe keeps only 3 of them in DOM to save memory.
      Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">
    <div class="pswp__top-bar">
      <!--  Controls are self-explanatory. Order can be changed. -->
      <div class="pswp__counter"></div>
      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
      <button class="pswp__button pswp__button--share" title="Share"></button>
      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
      <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
      <!-- element will get class pswp__preloader--active when preloader is running -->
      <div class="pswp__preloader">
        <div class="pswp__preloader__icn">
          <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
      <div class="pswp__share-tooltip"></div>
    </div>
    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
    </button>
    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
    </button>
    <div class="pswp__caption">
      <div class="pswp__caption__center"></div>
    </div>
    </div>
    </div>
</div>
{{ end }}
{{ end }}
