      <!-- Hero -->
      <div class="hero">
        <div class="container news">
          <div class="news-body">
            <span class="news-label">New!</span
            ><span class="news-text"
              >
                        {{ range first 1 ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" .Site.Params.blogs ) }}
          <a href="{{ .Permalink }}"
                >{{ .Title }}</a
              >
          {{ end }}
              
              </span
            >
          </div>
        </div>
        <div class="container">
          <div class="hero-body">
            <h1 class="hero-title">
              Transforming science through open data, software & reproducibility
            </h1>
            <p>
              rOpenSci fosters a culture of open and reproducible research using shared data and reusable software.  We build social and technical infrastructure for the R language to enable researchers and engineers to collaborate, share, and publish their science, data, and methods.
            </p>
            <div class="hero-buttons">
              <a href="#review" class="btn btn-primary">Software Review</a>
              <a href="#r-universe" class="btn btn-primary">Infrastructure</a>
              <a href="#champions" class="btn btn-primary">Training and Mentorship</a>
              <a href="#multilingual" class="btn btn-primary">Multilingual Publishing</a>
            </div>
          </div>
        </div>
      </div>
    </header>