<!-- Navbar -->
<div class="container navbar-container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand logo" lang="en" href="/">
      <img class="logo-light" src="{{ "/images/svg/logo-light.svg" | relURL }}" alt="" />
      <img class="logo-dark" src="{{ "/images/svg/logo-dark.svg" | relURL }}" alt="" />
    </a>
    {{ if (not .IsHome) }}
    {{ if .IsTranslated }}
    <div class="dropdown">
  <button class="btn btn-primary btn-lang dropdown-toggle" type="button" id="btndroplang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa-solid fa-globe"></i> {{ .Language.Lang | upper }}
  </button>
  
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{ range .Translations }}
    <a class="dropdown-item lang-nav" href="{{ .Permalink }}" lang="{{ .Language }}">{{ .Language.LanguageName }} ({{ .Language | upper }})</a>
    {{ end }}
  </div>
  </div>
  {{ end }}
  {{ end }}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Explore
      <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-right text-lg-left">
        <li class="nav-item drp">
          {{ partial "translate-url" (dict "name" "about" "Site" .Site "class" "nav-link" )}}{{ i18n "About" }}</a>
          <ul class="sub-menu">
            <li>{{ partial "translate-url" (dict "name" "donate" "Site" .Site )}}{{ i18n "Donate" }}</a></li>
            <li>{{ partial "translate-url" (dict "name" "careers" "Site" .Site )}}{{ i18n "Careers" }}</a></li>
            <li>{{ partial "translate-url" (dict "name" "contact" "Site" .Site )}}{{ i18n "Contact" }}</a></li>
          </ul>
        </li>
        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="{{ relLangURL "blog"}}">{{ i18n "Blog" }}</a>
          <ul class="sub-menu">
            <li><a lang="en" href="{{ relLangURL "technotes"}}">{{ i18n "Tech-Notes" }}</a></li>
          </ul>
        </li>

        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="/about/">{{ i18n "Projects" }}</a>
          <ul class="sub-menu">
            {{ $currentlang := .Language }}
            {{ $defaultlang := "en" }}
            {{ range $index, $page := ( where (where .Site.AllPages "Kind" "section") "Type" "in" .Site.Params.projects ) }}
            {{ if (eq $page.Language $currentlang) }}
            <li><a lang="{{ $currentlang }}" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></li>
            {{ else }} 
            {{ $placeholder := 0 }}
            {{ range $page.AllTranslations }}
            {{ if (eq .Lang $currentlang.Lang )}}
            {{ $placeholder = 1 }}
            {{ end }}
            {{ end }}
                {{ if (eq $placeholder 0) }}
              <li><a lang="{{ $defaultlang }}" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></li>
                {{ end }}
            {{ end }}
            {{ end }}
          </ul>
        </li>

        <li class="nav-item drp">
          {{ partial "translate-url" (dict "name" "packages" "Site" .Site "class" "nav-link" )}}{{ i18n "Packages" }}</a>
          <ul class="sub-menu">
            <li class="drp">
              <a>{{ i18n "Category" }}</a>
              <ul class="sub-menu">
                <li>{{ partial "translate-url" (dict "name" "all" "Site" .Site "class" "nav-link" )}}{{ i18n "All" }}</a></li>
                {{ range (where (where .Site.RegularPages "Type" "packages" ) ".Params.slug" "!=" "all" )}}
                <li><a lang="en" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </li>
            <li>{{ partial "translate-url" (dict "name" "software-review" "Site" .Site )}}{{ i18n "Submit-A-Package" }}</a></li>
            <li>{{ partial "translate-url" (dict "name" "usecases" "Site" .Site )}}{{ i18n "Use-Cases" }}</a></li>
            <li>{{ partial "translate-url" (dict "name" "citations" "Site" .Site )}}{{ i18n "Citations" }}</a></li>
            <li>{{ partial "translate-url" (dict "name" "help-wanted" "Site" .Site )}}{{ i18n "Help-Wanted" }}</a></li>
          </ul>
        </li>
        <li class="nav-item drp">
          {{ partial "translate-url" (dict "name" "community" "Site" .Site "class" "nav-link")}}{{ i18n "Community" }}</a>
          <ul class="sub-menu">
            <li>{{ partial "translate-url" (dict "name" "commcalls" "Site" .Site )}}{{ i18n "Community-calls" }}</a></li>
            <li>{{ partial "translate-url" (dict "name" "coworking" "Site" .Site )}}{{ i18n "Coworking" }}</a></li>
            <li><a lang="en" href="/events">{{ i18n "Events" }}</a></li>
            <li><a lang="en" href="{{ relLangURL (i18n "Code-of-Conduct" | urlize)}}">{{ i18n "Code-of-Conduct" }}</a></li>
            <li><a lang="en" href="https://contributing.ropensci.org/" class="external-link">{{ i18n "Contributing-Guide" }}</a></li>
            <li><a lang="en" href="https://discuss.ropensci.org/" class="external-link">{{ i18n "Forum" }}</a></li>
          </ul>
        </li>
        <li class="nav-item drp">
          {{ partial "translate-url" (dict "name" "resources" "Site" .Site "class" "nav-link")}}{{ i18n "Resources" }}</a>
          <ul class="sub-menu">
            <li>{{ partial "translate-url" (dict "name" "talks-papers" "Site" .Site )}}{{ i18n "Talks-Publications" }}</a></li>
            <li>{{ partial "translate-url" (dict "name" "training" "Site" .Site )}}{{ i18n "Training"}} </a></li>
            <li><a class="external-link" lang="en" href="https://docs.ropensci.org/">{{ i18n "Package-Docs" }}</a></li>
          </ul>
        </li>
        <li>
<form class="" role="search" id="search-form">
        <input type="search" class="form-control mr-sm-2" aria-label="Search" name="search-input" data-search-index="/search/index.json" id="search-input" placeholder="{{ i18n "Search" }}..." autocomplete="off">
</form>
</li>


      </ul>
      {{ if and (ne .Language.Lang "en") (ne .Language.Lang "es") }}
      <div class="navbar-right d-none d-xl-block">
        <a lang="en" href="https://github.com/ropensci/roweb3/milestone/1">🚧 {{ i18n "Translation" }}</a>
      </div>
      {{ end }}
      {{ if partial "careers/we-are-hiring" . }}
      <div class="navbar-right d-none d-xl-block">
        {{ partial "translate-url" (dict "name" "careers" "Site" .Site )}}👋 {{ i18n "We-are-hiring" }}</a>
      </div>
      {{ end }}
    </div>
</nav>
</div>
