<!-- Navbar -->
<div class="container navbar-container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand logo" lang="en" href="/">
      <img class="logo-light" src="{{ "/images/svg/logo-light.svg" | relURL }}" alt="" />
      <img class="logo-dark" src="{{ "/images/svg/logo-dark.svg" | relURL }}" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Explore
      <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-right text-lg-left">
        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="/about/">About</a>
          <ul class="sub-menu">
            <li><a lang="en" href="/donate/">Donate</a></li>
            <li><a lang="en" href="/careers/">Careers</a></li>
            <li><a lang="en" href="/contact/">Contact</a></li>
          </ul>
        </li>
        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="/blog/">Blog</a>
          <ul class="sub-menu">
            <li><a lang="en" href="/technotes/">Tech Notes</a></li>
          </ul>
        </li>

        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="/about/">Projects</a>
          <ul class="sub-menu">
            {{ range $index, $page := ( where (where .Site.AllPages "Kind" "section") "Type" "in" .Site.Params.projects ) }}
            <li><a lang="en" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></li>
            {{ end }}
          </ul>
        </li>

        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="/packages/">Packages</a>
          <ul class="sub-menu">
            <li class="drp">
              <a>Category</a>
              <ul class="sub-menu">
                <li><a lang="en" href="/packages/all/">All</a></li>
                {{ range (where (where .Site.RegularPages "Type" "packages" ) ".Params.slug" "!=" "all" )}}
                <li><a lang="en" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </li>
            <li><a lang="en" href="/software-review/">Submit A Package</a></li>
            <li><a lang="en" href="/usecases/">Use Cases</a></li>
            <li><a lang="en" href="/citations/">Citations</a></li>
            <li><a lang="en" href="/help-wanted/">Help Wanted</a></li>
          </ul>
        </li>
        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="/community/">Community</a>
          <ul class="sub-menu">
            <li><a lang="en" href="/commcalls/">Community Calls</a></li>
            <li><a lang="en" href="/events/">Events</a></li>
            <li><a lang="en" href="/code-of-conduct/">Code of Conduct (EN)</a></li>
            <li><a lang="en" href="/codigo-de-conducta/">Código de Conducta (ES)</a></li>
            <li><a lang="en" href="https://contributing.ropensci.org/" class="external-link">Contributing Guide</a></li>
            <li><a lang="en" href="https://discuss.ropensci.org/" class="external-link">Forum</a></li>
          </ul>
        </li>
        <li class="nav-item drp">
          <a class="nav-link" lang="en" href="/resources/">Resources</a>
          <ul class="sub-menu">
            <li><a lang="en" href="/talks-papers/">Talks & Publications</a></li>
            <li><a class="external-link" lang="en" href="https://docs.ropensci.org/">Package Docs</a></li>
          </ul>
        </li>
        <li>
<form class="" role="search" id="search-form">
        <input type="search" class="form-control mr-sm-2" aria-label="Search" name="search-input" data-search-index="/search/index.json" id="search-input" placeholder="Search..." autocomplete="off">
</form>
</li>


      </ul>
      {{ if ne .Language.Lang "en"}}
      <div class="navbar-right d-none d-xl-block">
        <a lang="en" href="https://github.com/ropensci/roweb3/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22translation+%3Amate%3A%22">🚧 {{ i18n "Translation" }}</a>
      </div>
      {{ end }}
      {{ if partial "careers/we-are-hiring" . }}
      <div class="navbar-right d-none d-xl-block">
        <a lang="en" href="/careers/">👋 We are hiring!</a>
      </div>
      {{ end }}
    </div>
</nav>
</div>
