{{ define "main" }}
<section class="section section-community">
  <div class="container p-0">
    <div class="community-hero">
      <div class="bg-circles">
        <img src="/images/svg/circles.svg" alt="" />
      </div>
      <div class="bg-avatars d-none d-lg-flex">
        <img src="/images/svg/community-img.png" alt="Fictional avatars of rOpenSci community members. Lydia Hill Illustration, all rights reserved." />
      </div>
      <div class="community-title">
        <img class="d-lg-none" src="/images/svg/top-avatars.png" alt="Fictional avatars of rOpenSci community members. Lydia Hill Illustration, all rights reserved." />
        <h1>
          {{ .Title | markdownify }}
        </h1>
        <img class="d-lg-none" src="/images/svg/bottom-avatars.png" alt="Fictional avatars of rOpenSci community members. Lydia Hill Illustration, all rights reserved." />
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <p class="community-text text-center">
          {{ .Content | markdownify }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<img class="divider" src="/images/svg/divider-rl.svg" alt="" />
 <section class="section community">
    <div class="container">
      <div class="row justify-content-end align-items-center">
        <div class="col-md-5">
          <h2 class="title">{{ i18n "Community-calls" }}</h2>
          <p class="subtitle commcalls-subtitle">
            {{ $path := (printf "_snippets/commcalls.%s.md" .Language.Lang) }}
            {{ with resources.Get $path }}
              {{ .Content | markdownify }}
            {{ else }}
  {{ errorf "Unable to get page Resources"  }}
            {{ end }}

          </p>
          {{ partial "translate-url" (dict "name" "commcalls" "Site" .Site "class" "link-arrow" )}}<span>{{ i18n "Catch-up-with-past-calls" }}</span></a>
        </div>
        <div class="col-md-6">
          <img class="commcalls" src="/images/commcalls-img.png" alt="" />
        </div>
      </div>
    </div>
  </section>
{{ $askpartial := (partial "translate-path" (dict "name" "whole-page-fragments/ask" "language" .Site.Language.Lang )) }}
{{ partial $askpartial  (dict "divider" "lr" ) }}
<img class="divider" src="/images/svg/divider-rl.svg" alt="" />
{{ partial "calendar/events" (dict "Site" .Site )  }}
{{ $newsletterpartial := (partial "translate-path" (dict "name" "whole-page-fragments/newsletter" "language" .Site.Language.Lang )) }}
{{ partial $newsletterpartial (dict "Site" .Site "divider" "lr" )  }}
{{ $volunteerpartial := (partial "translate-path" (dict "name" "whole-page-fragments/volunteer" "language" .Site.Language.Lang )) }}
{{ partial $volunteerpartial  (dict "divider" "rl" "Site" .Site ) }}
{{ $brandpartial := (partial "translate-path" (dict "name" "whole-page-fragments/brands" "language" .Site.Language.Lang )) }}
{{ partial $brandpartial (dict "Site" .Site "divider" "lr" )  }}
{{ end }}
