{{ define "main" }}


<section class="section">
  <div class="container">
    <!-- Header text -->
<div class="row">
  <div class="col-md-8">
    <h1>{{ .Title | markdownify }}</h1>
    <p class="subtitle">
      {{ .Content }}
    </p>
  </div>
</div>
{{ $data := index .Site.Data .Language.Lang }}
{{ $resources := $data.resources.resources }}

<h2>{{ i18n "Packages-and-Peer-Review" }}</h2>

{{ $packagesPeerReview := (where $resources "type" "packages-peer-review" )}}
{{ partial "resources/resources-cards" (dict "resources" $packagesPeerReview ) }}

<h2>{{ i18n "Communication-and-Outreach" }}</h2>

{{ $commOutreach := (where $resources "type" "communication-outreach" )}}
{{ partial "resources/resources-cards" (dict "resources" $commOutreach ) }}

<h2>{{ i18n "Guides-and-Books" }}</h2>

{{ $guidesBooks := (where $resources "type" "guides-books" )}}
{{ partial "resources/resources-cards" (dict "resources" $guidesBooks ) }}

<h2>{{ i18n "GitHub-Organizations" }}</h2>

{{ $github := (where $resources "type" "github" )}}
{{ partial "resources/resources-cards" (dict "resources" $github ) }}

  </div>
</section>
{{ $askpartial := (partial "translate-path" (dict "name" "whole-page-fragments/ask" "language" .Language.Lang )) }}
{{ partial $askpartial (dict "Site" .Site "divider" "rl" )  }}
{{ $newsletterpartial := (partial "translate-path" (dict "name" "whole-page-fragments/newsletter" "language" .Language.Lang )) }}
{{ partial $newsletterpartial (dict "Site" .Site "divider" "rl" )  }}
{{ $brandpartial := (partial "translate-path" (dict "name" "whole-page-fragments/brands" "language" .Language.Lang )) }}
{{ partial $brandpartial (dict "Site" .Site "divider" "lr" )  }}
{{ end }}
