<div class="col-md-8 offset-md-1">
  <div class="event-hero-heading">
    <div class="even-hero-date">
      {{ .Date | time.Format ":date_full" }}
    </div>
    <h1>{{ .Title | markdownify }}</h1>
    <p class="event-hero-author">{{ .Params.location }}, {{ .Params.country }} • {{ if eq .Type "events" }}{{ partial "blogs/pretty_author_names" .Params.attendees}}{{ else }}All are welcome{{ end }} • {{ .Params.lang | default "English" }}</p>
  </div>
  <div class="event-hero-body">
    {{ .Params.description }}
    <p><a href="{{ .RelPermalink }}">Find out more.</a></p>
  </div>
</div>