{{ define "main" }}
{{ $heropartial := (partial "translate-path" (dict "name" "skeleton/hero" "language" .Site.Language.Lang )) }}
{{ partial $heropartial . }}
<!-- Hero divider -->
</div>
{{ $.Scratch.Set "counter" 0}}
{{ $partials := (slice "review" "r-universe" "champions" "community" "packages/packages" "news" "newsletter" "brands") }}
{{ $Site := .Site }}
{{ range $partials }}
  {{ $counter := $.Scratch.Get "counter" }}
  {{ $path := printf "whole-page-fragments/%s" . }}
  {{ $partial := (partial "translate-path" (dict "name" $path "language" $Site.Language.Lang )) }}
  {{ if eq $counter 0 }}
  {{ partial $partial (dict "context" . "divider" "lr" "Site" $Site) }}
  {{ else }}
    {{ if ( modBool $counter 2 ) }}
      {{ partial $partial (dict "context" . "divider" "lr" "Site" $Site) }}
    {{ else }}
      {{ partial $partial (dict "context" . "divider" "rl" "Site" $Site) }}
    {{ end }}
  {{ end }}
  {{ $.Scratch.Add "counter" 1}}
{{ end }}
{{ end }}
