{{ define "main" }}
{{ partial "skeleton/hero" . }}
<!-- Hero divider -->
</div>
<img class="divider-lg" src="/images/svg/divider-lg.svg" alt="" />
{{ $.Scratch.Set "counter" 0}}
{{ $partials := (slice "packages/packages" "review" "community" "r-universe") }}
{{ $Site := .Site }}
{{ range (shuffle $partials )}}
  {{ $counter := $.Scratch.Get "counter" }}
  {{ $path := printf "whole-page-fragments/%s" . }}
  {{ if eq $counter 0 }}
  {{ partial $path  (dict "context" . "Site" $Site ) }}
  {{ else }}
    {{ if eq ( modBool $counter 2 ) 1 }}
      {{ partial $path  (dict "context" . "Site" $Site "divider" "rl" ) }}
    {{ else }}
      {{ partial $path  (dict "context" . "Site" $Site "divider" "lr" ) }}
    {{ end }}
  {{ end }}
  {{ $.Scratch.Add "counter" 1}}
{{ end }}
{{ partial "whole-page-fragments/news" (dict "Site" .Site "divider" "rl" ) }}
{{ partial "whole-page-fragments/newsletter" (dict "divider" "lr" ) }}
{{ partial "whole-page-fragments/brands" (dict "Site" .Site "divider" "rl" )  }}
{{ end }}
