{{ define "main" }}
{{ partial "skeleton/hero" . }}
<!-- Hero divider -->
</div>
<img class="divider-lg" src="/images/svg/divider-lg.svg" alt="" />
{{ $.Scratch.Set "counter" 0}}
{{ $partials := (slice "packages/packages" "review" "community" "r-universe" "champions" "news" "newsletter" "brands") }}
{{ $Site := .Site }}
{{ range $partials }}
  {{ $counter := $.Scratch.Get "counter" }}
  {{ $path := printf "whole-page-fragments/%s" . }}
  {{ $partial := (partial "translate-path" (dict "name" $path "language" $Site.Language.Lang )) }}
  {{ if eq $counter 0 }}
  {{ partial $partial (dict "context" . "divider" "rl" "Site" $Site) }}
  {{ else }}
    {{ if ( modBool $counter 2 ) }}
      {{ partial $partial (dict "context" . "divider" "lr" "Site" $Site) }}
    {{ else }}
      {{ partial $partial (dict "context" . "divider" "rl" "Site" $Site) }}
    {{ end }}
  {{ end }}
  {{ $.Scratch.Add "counter" 1}}
{{ end }}
{{ end }}
