{{ $url := (printf "https://ropensci.org%s" .RelPermalink ) }}
{{ $apiurl := (printf "https://beta.rogue-scholar.org/api/records?q=metadata.identifiers.identifier:'%s'" $url) | replaceRE "'" "%22" }}
{{ $roguescholar := (resources.GetRemote $apiurl) | unmarshal }}
{{ $doi := "" }}

{{ with $roguescholar }}
  {{ $hits := $roguescholar.hits }}
  {{ if gt $hits.total 0 }}
    {{ $post := ( first 1 $hits.hits ) }}
    {{ range $post }}
      {{ $doi = .pids.doi.identifier }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $doi }}
