{{ define "main" }}
    <section class="section section-generic">
      <div class="container">
        <!-- Header text -->
        <div class="row">
          <div class="col-md-8 software-content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
          </div>
        </div>

        <h2 class="title mt-5">Resources</h2>
        {{ partial "resources/resources-cards" (dict "resources" .Site.Data.resources.softwarereview ) }}
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row about-block">
          <div class="col-md-3 text-md-right">
            <h4 class="about-block__title" id="editors">
              Our Editorial Team
            </h4>
          </div>
          <div class="col-md-6 about-block__text">
            <p>
              Our editorial board members are volunteers.
            </p>
          </div>
        </div>
        {{ $editors := (shuffle ( where (.Site.Data.team.team) "roles" "intersect" ( slice "editor" ) ))}}
        {{ partial "whole-page-fragments/team/team-section" (dict "team" $editors)  }}
          <div class="row about-block">
          <div class="col-md-3 text-md-right">
            <h4 class="about-block__title" id="editors">
              Former editors
            </h4>
          </div>
        </div>
        {{ $editors := (shuffle ( where (.Site.Data.team.team) "past_roles" "intersect" ( slice "editor" ) ))}}
        {{ partial "whole-page-fragments/team/team-section" (dict "team" $editors)  }}
        </div>
        </section>
{{ partial "whole-page-fragments/volunteer"  (dict "divider" "rl" ) }}
{{ partial "whole-page-fragments/brands"  (dict "Site" .Site "divider" "lr" ) }}
{{ end }}
