pre {
  position: relative;
}
button.btn.copy-button {
  display: inline-block;
  position: absolute;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}