pre {
  position: relative;
}
button.copy-button {
  display: inline-block;
  font-size: 10px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0.1 !important;
  padding-right: 0.1 !important;
}