{{ $pages := (where ( where .Site.AllPages "Type" "in" .Site.Params.events ) ".Date" ">=" now.UTC ) }}
<div class="event-cards">
{{ range $pages.Reverse }}
<div class="event-card">
  <div class="event-body">
    <img {{ if eq .Type "events" }}src="/images/svg/calendart.svg"{{ else }}src="/images/svg/event.svg"{{ end }} alt="" class="event-img" />
    <div class="event-info">
      <a href="{{ .RelPermalink }}" style="color: inherit"><h4 class="event-title">{{ .Title }}{{ if ne .Type "events" }} (Community Call){{ end }}</h4></a>
      <p class="event-text">{{ (time .Params.dateStart).UTC | time.Format ":date_full"  }} {{ (time .Params.dateStart).UTC | time.Format ":time_short" | upper  }} UTC • {{ if eq .Type "events" }}{{ .Params.location }} {{ .Params.country }}{{ else }}online 🌐{{ end }}</p>
    </div>
  </div>
  <a href="{{ .RelPermalink }}" class="event-link">Find out more</a>
</div>
{{ end }}
</div>
