{{ $pages := (partial "calendar/future-events" (dict "Site" .Site)) }}
<section class="section section-events">
  <div class="container text-center">
    <h2 class="title">Events</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
    {{ if gt (len $pages) 0 }}
        <p class="subtitle">
          Upcoming events including Community Calls and meetings at which our team members are speaking.</p>
      </div>
    </div>
    {{ partial "calendar/calendar" (dict "Site" .Site) }}
    {{ else }}
    <p class="subtitle">No event scheduled at the moment</p>
    {{ end}}
    <div class="row justify-content-center">
    <div class="col-md-8">
        <p class="subtitle"><i>
          You can subscribe to rOpenSci-led events via <a href="/events/index.ics">our ICS calendar</a> (copy the link, add it to your calendar service e.g. <a href="https://support.mozilla.org/en-US/kb/creating-new-calendars#w_on-the-network-connect-to-your-online-calendars">Thunderbird</a> or Google Calendar). If you use Google Calendar, <a href="https://calendar.google.com/calendar/u/0/syncselect">check that synchronization is turned on</a> and note that synchronization might be delayed. When <em>opening</em> .ics files on OSX, you might need to <a href="https://apple.stackexchange.com/questions/3509/can-i-set-os-x-to-automatically-open-ics-files-in-ical">change settings</a>.</i>
        </p>
        <p class="subtitle"><i>
          When <em>opening</em> .ics files on OSX, you might need to <a href="https://apple.stackexchange.com/questions/3509/can-i-set-os-x-to-automatically-open-ics-files-in-ical">change settings</a>.
        </p>
        </div>
        </div>
  </div>
</section>