{{ $pages := (partial "calendar/future-events" (dict "Site" .Site)) }}
<section class="section section-events">
  <div class="container text-center">
    <h2 class="title">Events</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
    {{ if gt (len $pages) 0 }}
        <p class="subtitle">
          Upcoming events including Community Calls and meetings at which our team members are speaking.</p>
        <p class="subtitle">
          You can subscribe to rOpenSci-lead events via <a href="/events/index.ics">our ICS calendar</a> (copy the link, add it to your calendar service e.g. <a href="https://support.mozilla.org/en-US/kb/creating-new-calendars#w_on-the-network-connect-to-your-online-calendars">Thunderbird</a> or Google Calendar). Please note that if you use Google Calendar you have to <a href="https://calendar.google.com/calendar/u/0/syncselect">check synchronization is turned on</a>; furthermore, synchronization might be delayed.
        </p>
      </div>
    </div>
    {{ partial "calendar/calendar" (dict "Site" .Site) }}
    {{ else }}
    <p class="subtitle">No event scheduled at the moment</p>
    {{ end}}
  </div>
</section>