{{ define "main" }}
<section class="blog-post">
    <div class="container">
        <!-- Header text -->
        <div class="row">
            <div class="col-lg-8 software-content content">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>
        <div class="col-lg-4 mt-4">
            <aside>
                {{ range .Site.Data.resources.champions }}
                <a href="{{ .url }}" class="arrow-card"><i class="fa-{{ .icon }} pr-2"></i>{{ .title }}</a> {{ end }}
            </aside>
        </div>
      </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row about-block">
            <div class="col-md-3 text-md-right">
                <h4 class="about-block__title" id="editors">
                    Champions
                </h4>
            </div>
        </div>
        {{ $champions := .Site.Data.team.champions }} {{ partial "whole-page-fragments/team/team-section" (dict "team" $champions) }}
        <div class="row about-block">
            <div class="col-md-3 text-md-right">
                <h4 class="about-block__title" id="editors">
                    Mentors
                </h4>
            </div>
        </div>
        {{ $mentors := .Site.Data.team.mentors }} {{ partial "whole-page-fragments/team/team-section" (dict "team" $mentors) }}
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-md-right">
                <h4 class="about-block__title" id="editors">
                    Resources
                </h4>
            </div>
            </div>
        <div class="row">
    <div class="talk-cards">
      {{ range ( first 3 (where ( where ( where .Site.RegularPages "Section" "events" ) ".Params.resources" "!=" nil  )  ".Params.tags" "intersect" (slice "champions"))) }}
      {{ partial "resources/talk-card" . }}
      {{ end }}
    </div>
        </div>
    </div>
</section>
{{ partial "whole-page-fragments/volunteer" (dict "divider" "rl" "Site" .Site ) }} {{ partial "whole-page-fragments/newsletter" (dict "divider" "lr" ) }} {{ partial "whole-page-fragments/brands" (dict "Site" .Site "divider" "rl" ) }} {{ end }}