{{ define "main" }}
<section class="section section-contact">
    <div class="container bg-cubes">
      <!-- Header text -->
      <div class="row">
        <div class="col-md-8 content offset-md-1">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
      </div>

      <div class="row contact-form">
        <div class="col-md-8 offset-md-1">
          <form id="contact-form"  action="https://formspree.io/info@ropensci.org" method="post">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="contact-name">{{ i18n "Name" }}</label>
                <input
                  type="text"
                  placeholder={{ i18n "Enter-your-name" }}
                  class="form-control"
                  id="contact-name"
                  name="name"
                />
                <input type="hidden" name="_language" value="{{ .Lang }}" />
              </div>
              <div class="form-group col-md-6">
                <label for="contact-email">{{ i18n "Email-address" }}</label>
                <input
                  type="text"
                  placeholder={{ i18n "Enter-your-email" }}
                  class="form-control"
                  id="contact-email"
                  name="email"
                />
                <div class="contact-email-error">
                  {{ i18n "Enter-a-email-address" }}
                </div>
              </div>
            </div>
            <div class="form-group mb-0">
              <label for="contact-message">{{ i18n "Message" }}</label>
              <textarea
                class="form-control"
                placeholder={{ i18n "Enter-your-message" }}
                id="contact-message"
                name="message"
                rows="6"
              ></textarea>
            </div>

            <button type="button" id="contact-submit" class="btn btn-linear">{{ i18n "Send-message" }}</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{{ $brandpartial := (partial "translate-path" (dict "name" "whole-page-fragments/brands" "language" .Site.Language.Lang )) }}
{{ partial $brandpartial (dict "Site" .Site "divider" "rl" )  }}
{{ end }}
