{{ define "main" }}
 <section class="section section-generic">
      <div class="container">
        <!-- Header text -->
        <div class="row">
          <div class="col-md-8">
            <h1>Help Wanted</h1>
            <p class="subtitle">
              If you were looking for issues where your expertise is needed, search no more! This list features issues for rOpenSci packages specifically labelled as "Help wanted" (meaning the package developer is actively soliciting help).
              
               <br> If you're just getting started with making contributions, check out the issues labelled "Good first issue", as a way to ease into the process. Remember that not all issues require code contributions, sometimes it's documentation, use cases, vignettes, etc.
               
              <br>See also our <a href = "https://contributing.ropensci.org/">contributing guide</a> for finding other ways to contribute to rOpenSci.
            </p>
          </div>
        </div>
<div class="row case-cards mt-5">
  {{ $issues := getJSON "https://ropensci-help-wanted.netlify.app/issues.json" }}
         {{ range (first 3 (shuffle $issues) ) }}
          <div class="col-md-4">
            <div class="case-card">
              <img src="data:image/jpeg;base64, iVBORw0KGgoAAAANSUhEUgAAAWAAAACvCAYAAADDqASZAAAB8ElEQVR42u3UMREAMAgAsaKoEsEwHhDBHVMi4YePX50PgHNhwAAGDGDAABgwgAEDYMAABgyAAQMYMAAGDGDAABgwgAEDGLABAxgwgAEDYMAABgyAAQMYMAAGDGDAABgwgAEDYMAABgxgwAYMYMAABgyAAQMYMAAGDGDAABgwgAEDYMAABgyAAQMYMIABGzCAAQMYMAAGDGDAABgwgAEDYMAABgyAAQMYMAAGDGDAAAYsA4ABAxgwAAYMYMAAGDCAAQNgwAAGDIABAxgwAAYMYMAABgyAAQMYMAAGDGDAABgwgAEDYMAABgyAAQMYMAAGDGDAAAYMgAEDGDAABgxgwAAYMIABA2DAAAYMgAEDGDAABgxgwAAGDIABAxgwAAYMYMAAGDCAAQNgwAAGDIABAxgwAAYMYMAABgyAAQMYMAAGDGDAABgwgAEDYMAABgyAAQMYMAAGDGDAAAYMgAEDGDAABgxgwAAYMIABA2DAAAYMgAEDGDAABgxgwAAGDIABAxgwAAYMYMAAGDCAAQNgwAAGDIABAxgwAAYMYMAABgyAAQMYMAAGDGDAABgwgAEDYMAABgyAAQMYMAAGDGDAAAYMgAEDGDAABgxgwAAYMIABA2DAAAYMgAEDGDAABgxgwAAGDIABAxgwAAYMYMAArA2VgnE0VdnvaQAAAABJRU5ErkJggg==" alt="" />
              <div class="case-card-body">
                <div class="d-flex flex-wrap align-items-center">
                  <a href="{{ .url }}" class="case-title mr-2">{{ .title }}</a>
                  
{{ if in .labels "good first issue" }} Good First Issue!{{ end }}
                </div>
                <p class="mt-2 case-text">
               {{ if ne .author "" }} <a href='https://github.com/{{ .username }}'>{{ .author }}</a>{{ else }}<a href='https://github.com/{{ .username }}'>{{ .username }}</a>{{ end }}
                </p>
                                <p class="mt-2 case-text">
               Opened on {{ dateFormat "January 2, 2006" .opened }}.
                </p>
              </div>
            </div>
          </div>
          {{ end }}
          
        
        </div>
        
        <div class="row case-cards mt-5">
      <table id="usecases" class="display" width="100%">
        <thead>
          <tr>
    <th>Title</th>
    <th>Package</th>
    <th>Date</th>
    <th>Author</th>
    <th>Good First Issue?</th>
  </tr>
  </thead>
      <tbody>
      {{ range $issues }}
   <tr>
     
    <td><a href="{{ .url }}">{{ .title }}</a></td>
    <td><a href="https://docs.ropensci.org/{{ .package }}">{{ .package }}</a> </td>
    <td>{{ dateFormat "January 2, 2006" .opened }} </td>
    <td>{{ if ne .author "" }} <a href='https://github.com/{{ .username }}'>{{ .author }}</a>{{ else }}<a href='https://github.com/{{ .username }}'>{{ .username }}</a>{{ end }}</td>
    <td>{{ if in .labels "good first issue" }} yes {{else }} no{{ end }}</td>
  </tr>
      {{ end }} 
      </tbody>
      </table>
        </div>
{{ partial "datatables/scripts" ( dict "id" "usecases" "col" 2 "order" "desc" )  }}
       
    </section>
{{ partial "whole-page-fragments/newsletter"  (dict "divider" "lr" ) }}
{{ end }}
