mark {
  background-color: pink !important;
}

#search-form {
    margin-top: -.5rem;
}

.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: max(100%, 20rem);
  background-color: #fff;
  border: 1px solid var(--gray);
  border-radius: 0.2rem;
  margin-top: 2px;

  max-height: 50vh;
  overflow-y: auto;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
  border-bottom: 1px #ddd solid;
  font-size: 0.9rem;
  color: #5E5E5E;

}

.search-details {
  font-size: 0.9rem;
  color: #0054AD;
  display: inline;
  font-weight: bolder;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}